/* Navbar Styles */
.navbar .navbar-content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  background-color: #fff;
  width: 100%;
}

/* Style for Home navbar */
.navbar-menu {
  display: flex;
  align-items: center;
  margin: 0;
  font-weight: 600;

  
}

.navbar-menu li:not(:first-child) {
  margin-left: 25px;
}

.navbar a {
  padding: 5px;
  border-radius: 5px;
  color: black;
  position: relative;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover */
}

.navbar .active {
  color: var(--btn-color);
}

.navbar a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--btn-color);
  transition: width 0.4s ease-in-out;
}



/* Hover effect for links */
.navbar a:hover {
  background-color: #f0f0f0; /* Light gray background on hover */
  color: var(--btn-color); /* Change text color on hover */
}

.signup-btn {
  margin-left: 10px;
  background-color: var(--btn-color);
  color: var(--background-color);
}

.signup-btn:hover {
  background-color: var(--dark-color);
}

.login-btn:hover {
  background-color: var(--dark-color);
  color: var(--background-color);
}

.navbar-logo {
  color: black;
  font-size: 22px;
  letter-spacing: .5px;
  text-transform: uppercase;
  font-weight: 900;
}

.gavel {
  color: #d1a713;
  pointer-events: none; 
}

.topgavel {
  color: black; 
  pointer-events: none; 
}

/* Styles for dropdown */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  padding: 10px;
  font-weight: 600;

}

.dropdown-menu li {
  padding: 8px 16px;
  display: block;
}

.dropdown-menu li:first-child {
  margin-left: 23px;
}

.dropdown-menu li a {
  color: black;
  text-decoration: none;
  font-size: 15px;
}

/* Hover effect for dropdown items */
.dropdown-menu li a:hover {
  color: var(--btn-color); /* Change color on hover */
  background-color: #f0f0f0; /* Light gray background on hover */
}

.dropdown:hover .dropdown-menu {
  display: block; /* Show dropdown on hover */
}

.dropdown i {
  color: #555;
}

.navbar-buttons {
  display: flex;
  align-items: center;
}

.bell {
  margin-right: 30px;
  cursor: pointer;
  color: gray;
  font-size: 18px;
}

.bell:hover {
  color: var(--dark-color);
}

.user-profile {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.user-profile .user-image {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #000;
}

.user-profile .user-name {
  margin-right: 5px;
  font-weight: 600;


}

.user-profile i {
  font-size: 12px;
}

.user-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  list-style: none;
  padding: 0;
  margin-right: 5px;
  width: 150px;
  z-index: 100;
  display: block;
}

.user-dropdown li {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.user-dropdown li:first-child {
  margin-left: 0px;
}

.user-dropdown li:last-child {
  border-bottom: none;
}

.user-dropdown li a {
  text-decoration: none;
  color: #333;
}

/* Hover effect for user dropdown items */
.user-dropdown li:hover {
  background-color: #f9f9f9; /* Light gray background on hover */
}

.user-dropdown li:hover a {
  color: var(--btn-color); /* Change color on hover */
}

.sell-btn {
  margin-right: 30px;
  background-color: var(--btn-color);
  color: white;
  padding: 8px;
}

.sell-btn:hover {
  background-color: var(--dark-color);
}
