<nav class="navbar">
  <div class="navbar-content container">
    <a routerLink="/">
      <div class="navbar-logo">
        <span><span class="gavel">T</span><span class="topgavel">opgavel</span></span>
      </div>
    </a>
    

    <ul class="navbar-menu">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
      <li><a routerLink="/auctions" routerLinkActive="active">Open Auctions</a></li>
      <li><a routerLink="/myauctions" routerLinkActive="active">My auctions</a></li>

      <li><a routerLink="/guides" routerLinkActive="active">Buying Guides & Tips</a></li>
    </ul>

    <div class="navbar-buttons">
      <ng-container *ngIf="isRegistered">
        <ng-container *ngIf="isLoggedIn && !isAdmin && !isBanned">
          <button class="sell-btn" routerLink="/addAuction">Sell on <span class="gavel">T</span>OPGAVEL</button>
        </ng-container>

        <div class="notification-bell" (click)="toggleNotificationDropdown($event)"> 
          <span class="notification-count" *ngIf="notificationCount > 0">{{ notificationCount }}</span>

          <i class="fa-solid fa-bell bell"></i>

          <div class="notification-dropdown" *ngIf="showNotificationDropdown">
            <h4>Notifications</h4>
            <div *ngFor="let notification of notifications" class="notification-item" (click)="removeNotification(notification.data.auction_id)">
              <a [routerLink]="['/auction', notification.data.auction_id]">
                <p>{{ notification.data.message }}</p>
              </a>
              <hr>
            </div>
            <button (click)="clearNotifications()">Clear Notifications</button>
          </div>
        </div>

      <div class="user-profile" (click)="toggleDropdown($event)">
        <img [src]="userProfileImage" alt="User Image" class="user-image">
        <span class="user-name">{{ userName }}</span>
        <i class="fa fa-caret-down"></i>

          <ul *ngIf="showDropdown" class="dropdown-menu user-dropdown">
            <div *ngIf="isAdmin; else noAuctions">
              <li><a routerLink="/adminDashboard">Dashboard</a></li>
            </div>
            <ng-template #noAuctions>
              <li><a routerLink="/userDashboard">Dashboard</a></li>
            </ng-template>
            <li><a routerLink="/profile">Profile</a></li>
            <li><a (click)="logout()">Logout</a></li>
          </ul>
        </div>
      </ng-container>

      <!-- Show login/signup buttons if user is not logged in -->
      <ng-container *ngIf="!isLoggedIn">
        <button class="btn login-btn" routerLink="/login" [class.active]="isLoginActive">Login</button>
        <button class="btn signup-btn" routerLink="/register" [class.active]="isSignupActive">Sign Up</button>
      </ng-container>
    </div>
  </div>
</nav>
