/* Navbar Styles */
.navbar .navbar-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    background-color: #fff;
    width: 100%;
}
/* .home-navbar {
    z-index: -1;
    height: 300px;
    background-color: #45474b;
    width: 100%;
    color: var(--background-color);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  } */
  
  /* .fixed-navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    background-color: #fff;
    width: 100%;
  }   */
  /* Style for fixed navbar */

  /* .fixed-navbar .login-btn {
    color: black;
  }
  .fixed-navbar .login-btn:hover, .signup-btn:hover {
    color: var(--background-color);
    background-color: var(--dark-color);
  }
  .fixed-navbar .navbar-menu a {
  }
  .fixed-navbar .navbar-menu .active {
    color: var(--background-color);
  }
  .fixed-navbar .navbar-logo {
    color: black;
  } */
  /* Style for Home navbar */
.navbar-menu {
    display: flex;
    margin: 0;
}
.navbar-menu li:not(:first-child) {
    margin-left: 40px;
}
.navbar a {
    padding: 5px;
    border-radius: 5px;
    color: black;
}
.navbar .active {
    color: var(--background-color);
    background-color: var(--btn-color);
}
.signup-btn {
    margin-left: 10px;
    background-color: var(--btn-color);
    color: var(--background-color);
}
.signup-btn:hover {
  background-color: var(--dark-color);
}
.login-btn:hover {
    background-color: var(--dark-color);
    color: var(--background-color);
}
.navbar-logo {
    color: black;
    font-size: 22px;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-weight: 900;
}
.gavel {
    color: #d1a713;
}
