<nav class="navbar">
  <div class="navbar-content container">
    <a routerLink="/">
      <div class="navbar-logo">
        <span><span class="gavel">T</span>opgavel</span>
      </div>
    </a>

    <ul class="navbar-menu">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
      <li><a routerLink="/auctions" routerLinkActive="active">Open Auctions</a></li>
      <li><a routerLink="/guides" routerLinkActive="active">Buying Guides & Tips</a></li>

      <!-- <li class="dropdown">
        <a routerLink="/items" routerLinkActive="active" class="dropdown-toggle">
          Browse Items <i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu">
          <li><a routerLink="/items/category1">Furniture</a></li>
          <li><a routerLink="/items/category2">Animals</a></li>
          <li><a routerLink="/items/category3">Birds</a></li>
          <li><a routerLink="/items/category4">Motor Vehicles</a></li>
          <li><a routerLink="/items/category5">Home Decor</a></li>
          <li><a routerLink="/items/category6">Fine Arts</a></li>
          <li><a routerLink="/items/category7">View All Auctions</a></li>
        </ul>
      </li> -->

      <!-- <li><a routerLink="/guides" routerLinkActive="active">Buying Guides & Tips</a></li> -->
    </ul>

    <div class="navbar-buttons">
      <!-- Display if user is registered -->
      <ng-container *ngIf="isRegistered">
        <button class="sell-btn" routerLink="/addAuction">Sell on <span class="gavel">T</span>OPGAVEL</button>
        <i class="fa-solid fa-bell bell"></i>

        <!-- User profile with dropdown -->
        <div class="user-profile" (click)="toggleDropdown($event)">
          <img [src]="userProfileImage" alt="User Image" class="user-image">
          <span class="user-name">{{ userName }}</span>
          <i class="fa fa-caret-down"></i>

          <ul *ngIf="showDropdown" class="dropdown-menu user-dropdown">
            <!-- <li><a routerLink="/profile">Profile</a></li> -->
            <!-- <li><a routerLink="/settings">Settings</a></li> -->

            <div *ngIf="isAdmin ; else noAuctions">
              <li><a routerLink="/adminDashboard">Dashboard</a></li>
            </div>
            <ng-template #noAuctions>
              <li><a routerLink="/userDashboard">Dashboard</a></li>
            </ng-template>
            
            <li><a (click)="logout()">Logout</a></li>
          </ul>
        </div>
      </ng-container>

      <!-- Show login/signup buttons if user is not logged in -->
      <ng-container *ngIf="!isLoggedIn">
        <button class="btn login-btn" routerLink="/login" [class.active]="isLoginActive">Login</button>
        <button class="btn signup-btn" routerLink="/register" [class.active]="isSignupActive">Sign Up</button>
      </ng-container>
    </div>
  </div>
</nav>