
<nav class="navbar">
    <div class="navbar-content container">

      <div class="navbar-logo">
        <span><span class="gavel">T</span>opgavel</span>
        <!-- <img src="assets/images/logo.png" width="" alt="Logo" class="logo"> -->
      </div>
  
      <ul class="navbar-menu">
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li><a routerLink="/auctions" routerLinkActive="active">Open Auctions</a></li>
        <li><a routerLink="/bids" routerLinkActive="active">Bids</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
      </ul>

      <div class="navbar-buttons">
        <button class="btn login-btn" routerLink="/login">Login</button>
        <button class="btn signup-btn" routerLink="/register">Sign Up</button>
      </div>
    </div>
  </nav>
  <div class="hero">
    <img src="assets/images/bird2.jpg" alt="">
  </div>
  