/* Navbar Styles */
.navbar .navbar-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.navbar {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
    background-color: #fff;
    width: 100%;
}
.navbar-menu {
    display: flex;
    margin: 0;
}
.navbar-menu li:not(:first-child) {
    margin-left: 40px;
}

a {
    padding: 5px;
    border-radius: 5px;
}
.active {
    color: #000000;
}
.signup-btn {
    margin-left: 10px;
    background-color: var(--btn-color);
    color: var(--background-color);
}
.signup-btn:hover, .login-btn:hover {
    background-color: var(--dark-color);
    color: var(--background-color);
}
.navbar-logo {
    color: #000000;
    font-size: 22px;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-weight: 900;
}
.gavel {
    color: #d1a713;
}
