<h1><span class="gavel">T</span>opGavel</h1>
<div class="login-container">
    <div class="welcome">Welcome Back</div>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          [(ngModel)]="email"
          name="email"
          required
          class="form-control"
          #emailInput="ngModel"
        />
        <div *ngIf="emailInput.invalid && emailInput.touched" class="error">
          Email is required
        </div>
      </div>
  
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          [(ngModel)]="password"
          name="password"
          required
          class="form-control"
          #passwordInput="ngModel"
        />
        <div *ngIf="passwordInput.invalid && passwordInput.touched" class="error">
          Password is required
        </div>
      </div>
  
      <button type="submit" class="login-btn btn-primary" [disabled]="loginForm.invalid">
        Sign In
      </button>
      <span class="forgot"><a href="#">Forgot Password?</a></span>
      <div class="join"><span>New to <span class="gavel">T</span>OPGAVEL? </span><a routerLink="/register">Join Now</a></div>
    </form>
  </div>
  