<!-- Hero Section -->
<div class="hero">
  <div class="search-bar">
    <div class="search-title">
      <h1>Explore Auctions Like Never Before</h1>
    </div>
    <div class="find">
      <div class="auction-search">
        <i class="fa-solid fa-map-location"></i>
        <p class="find-auction">Find an Auction</p>
      </div>
      <div class="item-search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <p class="find-auction">Search Items</p>
      </div>
    </div>
    <div class="search-container">
      <i class="map fa-solid fa-location-dot"></i>
      <input type="text" [(ngModel)]="searchTerm" placeholder="Search by state, city or auction"
        (keyup.enter)="onSearch()" />
      <button type="button" (click)="onSearch()">Search Auctions</button>
    </div>
  </div>
</div>

<main class="container">
  <!-- Categories Section -->
  <div class="categories-content">
    <div class="category-title">Explore Our Categories</div>
    <div class="categories">
      <div class="category" *ngFor="let category of categories" (click)="onCategoryClick(category.id)">
        <img [src]="category.image" alt="{{ category.name }}">
        <p>{{ category.name }}</p>
      </div>
    </div>
  </div>
  <!-- End Categories Section -->

  <!-- Selling Section -->
  <div class="selling">
    <h3>Start Selling Today</h3>
    <p>
      Cutting-edge auction platform. Competitive pricing. Unlock endless opportunities and watch your auction business
      thrive with just a few simple steps.
    </p>
    <button class="btn" routerLink="/addAuction" *ngIf="!isAdmin && !isBanned">
      Sell on <span class="gavel">T</span>OPGAVEL
    </button>
    
      </div>
  <!-- End Selling Section -->

  <!-- Opening Auctions Section -->
  <div class="auctions container">
    <h2>Auction Listings</h2>
    <div *ngIf="filteredAuctions.length > 0; else noAuctions">
      <div class="auction-items">  
        <div *ngFor="let auction of filteredAuctions" class="auction-item"
          (click)="goToAuctionDetails(auction.auction_id)" style="cursor: pointer;">
          <div *ngIf="auction.item_media && auction.item_media.length > 0">
            <img [src]="'http://localhost:8000/uploads/images/' + auction.item_media[0].path"
              alt="{{ auction.item_name }}">
          </div>
          <div class="auction-info">
            <p class="item-description">
              <span class="item-name">{{ auction.item_name }}</span>
              <br>
              <span class="item-price">{{ auction.starting_bid | currency }} $</span>
            </p>
            <div class="item-location">
              <i class="map fa-solid fa-location-dot"></i>
              <span>{{ auction.item_country }}</span>
            </div>
            <p class="auction-end-date">Ends: {{ auction.auction_end_time | date:'short' }}</p>

            <p class="auction-status" [ngClass]="{
              'opened': checkAuctionStatus(auction)==='opened',
              'closed': checkAuctionStatus(auction)==='closed'
              }">
              {{ checkAuctionStatus(auction) | titlecase }}
            </p>

            <div class="bid-btn"
              *ngIf="checkAuctionStatus(auction) === 'opened' && !(isAdmin || checkAuctionOwnwer(auction))">
              <button routerLink="/payment">Bid Now</button>
            </div>
            

            <div *ngIf="isAdmin || checkAuctionOwnwer(auction)">
              <div class="bid-btn" *ngIf="checkAuctionStatus(auction) === 'before starting'">
                <button (click)="deleteAuction(auction.auction_id)">Delete</button>
              </div>
            </div>



          </div>
        </div>
      </div>
    </div>
    <ng-template #noAuctions>
      <p style="font-size: 30px; color: black; text-align: center;">No auctions available at this time.</p>
    </ng-template>
  </div>

  <!-- Pagination Controls -->
  <div class="pagination-controls" *ngIf="totalPages[0] > 1;">
    <button (click)="prevPage()" [disabled]="currentPage[0] === 1">Previous</button>
    <button (click)="nextPage()" [disabled]="currentPage[0] === totalPages[0]">Next</button>
    <span>Page {{ currentPage[0] }} of {{ totalPages[0] }}</span>
  </div>
</main>

<br>
<br>
<!-- Top Auction Section
<div class="top-auctions-content">
  <div class="container">
    <div class="category-title">Top Auctions</div>
    <div class="top-auctions">
      <div class="top-auction">
        <img src="https://i.pinimg.com/564x/85/0a/ca/850aca7cd77c110e99ab20862aef14cf.jpg" alt="">
        <div class="top-auction-winner">
          <div class="winner-info">
            <img src="https://i.pinimg.com/474x/3d/2e/ae/3d2eae4e497f028babdada44978fe851.jpg" alt="">
            <p class="winner-name">John Doe</p>
          </div>
          <p class="price">$54345.08</p>
        </div>
      </div>
      <div class="top-auction">
        <img src="https://i.pinimg.com/564x/d4/2e/a0/d42ea0c760d91a64ab632a2bb950992f.jpg" alt="">
        <div class="top-auction-winner">
          <div class="winner-info">
            <img src="https://i.pinimg.com/564x/06/22/e8/0622e80b0b75c6cfb005ecf2a18c02b6.jpg" alt="">
            <p class="winner-name">Mary Gard</p>
          </div>
          <p class="price">$4135.08</p>
        </div>
      </div>
    </div>
  </div>
</div> -->