<!-- Hero Section -->
<div class="hero">
  <div class="search-bar">
    <div class="search-title">
      <h1>Explore Auctions Like Never Before</h1>
    </div>
    <div class="find">
      <div class="auction-search">
        <i class="fa-solid fa-map-location"></i>
        <p class="find-auction">Find an Auction</p>
      </div>
      <div class="item-search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <p class="find-auction">Search Items</p>
      </div>
    </div>
    <div class="search-container">
      <i class="map fa-solid fa-location-dot"></i>
      <input type="text" placeholder="Search by state, city or auction">
      <button type="button">Search Auctions</button>
    </div>
  </div>
</div>

<main class="container">
  <!-- Categories Section -->
  <div class="categories-content">
    <div class="category-title">Explore Our Categories</div>
    <div class="categories">
      <div class="furniture">
        <img src="assets/images/furniture.jpg" alt="">
        <p>Furniture</p>
      </div>
      <div class="home-decor">
        <img src="assets/images/decor.jpg" alt="">
        <p>Home Decor</p>
      </div>
      <div class="fine-art">
        <img src="assets/images/art.jpg" alt="">
        <p>Fine Art</p>
      </div>
      <div class="birds">
        <img src="assets/images/bird.jpg" alt="">
        <p>Birds</p>
      </div>
      <div class="animals">
        <img src="assets/images/animal.jpg" alt="">
        <p>Animals</p>
      </div>
      <div class="vehicles">
        <img src="assets/images/vehicles.jpg" alt="">
        <p>Motor Vehicles</p>
      </div>
    </div>
  </div>
  <!-- End Categories Section -->

  <!-- Selling Section -->
  <div class="selling">
    <h3>Start Selling Today</h3>
    <p>
      Cutting-edge auction platform. Competitive pricing. Unlock endless opportunities and watch your auction business
      thrive with just a few simple steps.
    </p>
    <button class="btn">Sell on TOPGAVEL</button>
  </div>
  <!-- End Selling Section -->


  <!-- Opening Auctions Section -->
  <div class="auctions container">
    <h2>Auction Listings</h2>
    <div *ngIf="auctions.length > 0; else noAuctions">
      <div class="auction-items">
        <div *ngFor="let auction of auctions" class="auction-item">
          <img [src]="auction.item_media" [routerLink]="['/auction', auction.auction_id]" alt="{{ auction.item_name }}">
          <div *ngIf="images && images.length > 1">
            <img [src]="'http://localhost:8000/uploads/' + images[1]" alt="Item Image" class="auction-image" width="100px">
          </div>          
          <div class="auction-info">
            <!-- <p class="category-name">{{ auction.auction_id }}</p> -->
            <p class="item-description">
              <span class="item-name">{{ auction.item_name }}</span>
              <br>
              <span class="item-price">{{ auction.starting_bid }} $</span>
            </p>
            <div class="item-location">
              <i class="map fa-solid fa-location-dot"></i>
              <span>{{ auction.item_country }}</span>
            </div>
            <p class="auction-end-date">{{ auction.auction_end_time | date:'short' }}</p>
      
            <p class="auction-status" [ngClass]="{'opened': checkAuctionStatus(auction.auction_end_time) === 'opened', 'closed': checkAuctionStatus(auction.auction_end_time) === 'closed'}">
              {{ checkAuctionStatus(auction.auction_end_time) }}
            </p>
      
            <div class="bid-btn" *ngIf="checkAuctionStatus(auction.auction_end_time) === 'opened'">
              <button routerLink="/payment-verification">Bid Now</button>
            </div>
            <!-- <div class="auction-detail-link">
              <a [routerLink]="['/auction', auction.auction_id]">View Auction</a>
            </div> -->
          </div>
        </div>
      </div>
      
    </div>
    <ng-template #noAuctions>
      <p>No auctions available at this time.</p>
    </ng-template>
  </div>
  
</main>
<br>
<br>
<br>
<br>

<!-- Top Auction Section -->
<div class="top-auctions-content">
  <div class="container">
    <div class="category-title">Top Auctions</div>
    <div class="top-auctions">
      <div class="top-auction">
        <img src="https://i.pinimg.com/564x/85/0a/ca/850aca7cd77c110e99ab20862aef14cf.jpg" alt="">
        <div class="top-auction-winner">
          <div class="winner-info">
            <img src="https://i.pinimg.com/474x/3d/2e/ae/3d2eae4e497f028babdada44978fe851.jpg" alt="">
            <p class="winner-name">John Doe</p>
          </div>
          <p class="price">$54345.08</p>
        </div>
      </div>
      <div class="top-auction">
        <img src="https://i.pinimg.com/564x/d4/2e/a0/d42ea0c760d91a64ab632a2bb950992f.jpg" alt="">
        <div class="top-auction-winner">
          <div class="winner-info">
            <img src="https://i.pinimg.com/564x/06/22/e8/0622e80b0b75c6cfb005ecf2a18c02b6.jpg" alt="">
            <p class="winner-name">Mary Gard</p>
          </div>
          <p class="price">$4135.08</p>
        </div>
      </div>
    </div>
  </div>
</div>
