/* Hero Section Styles */
.hero {
    background-image: url(../../assets/images/background2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    position: relative;
    border-bottom: 10px solid var(--accent-color);
}
.hero::after {
    content: '';
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
.search-bar {
    background-color: rgba(251, 251, 250, .7);
    width: 70%;
    height: 300px;
    border-radius: 10px;
    position: absolute;
    top: 100px;
    left: 15%;
    margin-top: 50px; 
    z-index: 99;
  } 
  .search-title {
    text-align: center;
  }
  .search-title h1 {
    margin-top: 20px;
    font-weight: 500;
  }
  .search-container {
    margin: auto;
    display: flex;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    overflow: hidden;
    width: 600px; 
    z-index: 99;
  }
  .search-container .map {
    color: var(--accent-color);
    line-height: 30px;
  }
  .search-container input {
    border: none;
    padding: 15px 20px;
    flex: 1;
    font-size: 16px;
    outline: none;
  }
  
  .search-container button {
    background-color: var(--btn-color);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    color: var(--background-color);
    border: none;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
  }
  
  .search-container button:hover {
    background-color: var(--dark-color);
  }
  .search-container i {
    padding: 10px;
    font-size: 20px;
    color: #777;
    background-color: white;
  }
  .find {
    display: flex;
    justify-content: center;
    margin: 20px 0px;
  }
  .find div:not(:first-child) {
    margin-left: 50px;

  }
  .find div {
    text-align: center;
    font-size: 20px;
    color: var(--dark-color);
    cursor: pointer;
    font-weight: 600;
    border-bottom: 1px solid var(--dark-color);
  }
  /* Categories Section Styles */
  .categories-content {
    margin-top: 50px;
  }
  .categories {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    cursor: pointer;
  }
  .categories img {
    width: 150px;
    border-radius: 50%;
  }
  .categories p {
    text-align: center;
  }
  /* Selling Section Styles */
  .selling {
    background-color: var(--dark-color);
    padding: 20px;
    border-radius: 10px;
    color: var(--background-color);
    margin-top: 20px;
  }
  .selling .btn {
    color: var(--background-color);
    background-color: var(--accent-color);
    border-radius: 0px;
    padding: 10px;
  }
  .selling h3 {
    font-weight: 500;
    font-size: 24px;
    margin: 0;
  }
  /* Opening Auction Styles */
  .auctions {
    width: 100%;
    margin: auto;
  }
  .auctions img {
    cursor: pointer;
  }
  .auctions h2 {
    font-size: 2rem;
    text-align: center;
    color: var(--dark-color);
    margin-bottom: 40px;
  }
/*   
  .auction-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  } */

  
  .auction-item:hover {
    transform: translateY(-5px);
  }
  
  .auction-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }
  
  .auction-info {
    padding: 15px;
    text-align: left;
  }
  
  .category-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: #555;
  }
  
  .item-description {
    margin: 10px 0;
  }
  
  .item-name {
    font-size: 1.5rem;
    color: #333;
    font-weight: bold;
  }
  
  .item-price {
    font-size: 1.2rem;
    color: var(--btn-color);
    font-weight: bold;
    margin-top: 20px;
    display: block;
  }
  
  .item-location {
    margin: 10px 0;
    font-size: 1rem;
    color: #777;
  }
  
  .auctions .map {
    color: var(--accent-color);
    margin-right: 10px;
  }
  
  .auction-end-date {
    font-size: 0.9rem;
    color: #6c757d;
  }
  
  .auction-status {
    font-size: 1rem;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .auction-status.opened {
    color: var(--success-color); 
  }
  
  .auction-status.closed {
    color: var(--warning-color); 
  }

  .bid-btn button:hover {
    background-color: var(--dark-color);
  }
  
  /* ////////////////////////////////// */
  .auction-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .auction-item {
    display: flex;
    flex-direction: column;
    width: 21%; 
    height: 100%;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 450px; 
    background-color: #f9f9f9;
    transition: transform 0.3s ease;
  }
  .auction-item:not(:first-child) {
    /* margin-left: 10px; */
  }
  .auction-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
    justify-content: space-between; 
  }
  
  .item-description, .item-location, .auction-end-date, .auction-status {
    margin-bottom: 10px;
  }
  
  .bid-btn {
    text-align: center;
    margin-top: auto; 
  }
  
  .bid-btn button {
    width: 100%;
    border-radius: 0px !important;
    background-color: var(--btn-color);
    color: var(--background-color);
    padding: 10px 20px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Top Auctions Styles */
  .top-auctions-content {
    margin: 50px 0px;
    background-color: #fff;
    padding: 10px 0px;
  }
 .top-auctions-content .category-title {
    margin-bottom: 20px;
  }
  .top-auctions {
    display: flex;
    justify-content: space-between;
  }
  .top-auctions img {
    border-radius: 10px;
    width: 550px;
  }
  .top-auction {
    position: relative;
    max-width: 530px;
  }
  .top-auction-winner {
    background-color: var(--accent-color);
    position: absolute;
    top: 0px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  .top-auction-winner img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid var(--dark-color);
    padding: 2px;
    margin-right: 20px;
  }
  .winner-info {
    display: flex;
  }
  .winner-name {
    font-size: 20px;
    color: var(--dark-color);
  }
  .top-auction .price {
    color: var(--dark-color);
    font-weight: 600;

  }
  