.login-container {
    padding: 10px 30px 50px;
  }
  h1 a {
    color: #000000;
  }
  .welcome {
    text-align: center;
    font-size: 20px;
    padding: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .error {
    color: var(--warning-color);
    font-size: 12px;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px;
    box-sizing: border-box;
  }
  
  .btn {
    padding: 10px 15px;
    background-color: var(--btn-color);
    width: 100%;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    height: 45px;
  }
  input {
    outline: none;
    height: 45px;
    border: 1px solid #d0d0d0;
    border-radius: 2px;
  }
/*   
  .btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
   */
   .gavel {
    color: var(--accent-color);
    font-weight: 900;
   }
