<!-- <div class="auctions">
    <h1>Auction Listings</h1>
    <div *ngIf="auctions.length > 0; else noAuctions">
      <div class="auction-items">
        <div *ngFor="let auction of auctions" class="auction-item">
          <img [src]="auction.item_media || 'https://i.pinimg.com/564x/19/8f/2a/198f2a74ca46ab1a2afbd9da547f10ff.jpg'" alt="{{ auction.item_name }}">
          <div class="auction-info">
            <p class="category-name">{{ auction.category_name }}</p>
            <p class="item-description">
              <span class="item-name">{{ auction.item_name }}</span>
              <br>
              <span class="item-price">{{ auction.starting_bid  }}</span>
            </p>
            <div class="item-location">
              <i class="map fa-solid fa-location-dot"></i>
              <span>{{ auction.item_country  }}</span>
            </div>
            <p class="auction-end-date">{{ auction.auction_end_time  }}</p>
            <div class="bid-btn">
              <button routerLink="/payment-verification">Place Bid Now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #noAuctions>
      <p>No auctions available at this time.</p>
    </ng-template>
  </div> -->
<p>auctions works</p>
<p>auctions works</p>
<p>auctions works</p>
<p>auctions works</p>
<p>auctions works</p>
<p>auctions works</p>