.auction-container {
  display: flex;
  gap: 50px;
  width: 90%;
  margin: auto;
  margin-top: 150px;
}
.auction-status {
  color: var(--success-color);
}
.auction-container h2 {
  margin-top: 0px;
}
.image-section {
  width: 50%;
}

.main-image {
  width: 100%;
  height: auto;
  border: 2px solid #ccc;
}

.image-gallery {
  display: flex;
}

.main-image {
  margin-right: 10px;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.thumbnail-image {
  cursor: pointer;
  border: 1px solid #ddd;
  padding: 2px;
}

.thumbnail-image:hover {
  border: 1px solid var(--btn-color);
}
