<div class="auction-container" *ngIf="auction">
  <div class="image-gallery">
    <!-- Main Image Display -->
    <div class="main-image">
      <img [src]=" selectedImage" alt="Main image of {{ auction.item_name }}" class="auction-image" width="500">
    </div>

    <!-- Thumbnail Images Display -->
    <div class="thumbnails">
      <div *ngFor="let image of images">
        <img [src]="image" alt="Thumbnail of {{ auction.item_name }}" class="thumbnail-image" width="100"
          (click)="setMainImage(image)">
      </div>
    </div>
  </div>

  <!-- auction-details.component.html -->
<div class="auction-details-card">
  <h2 class="auction-title">{{ auction.item_name }}</h2>
  
  <div class="auction-info">
    <p><strong>Category:</strong> {{ auction.item_category }}</p>
    <p><strong>Description:</strong> {{ auction.item_description }}</p>
    <p><strong>Starting Bid:</strong> {{ auction.starting_bid | currency }} USD</p>
    <p><strong>Bid Increment:</strong> {{ auction.bid_increment | currency }} USD</p>
    <p><strong>Start Time:</strong> {{ auction.auction_start_time | date: 'short' }}</p>
    <p><strong>End Time:</strong> {{ auction.auction_end_time | date: 'short' }}</p>

    <p class="auction-status" [ngClass]="{
        'opened': checkAuctionStatus(auction.auction_end_time) === 'opened', 
        'closed': checkAuctionStatus(auction.auction_end_time) === 'closed'
      }">
      <!-- Status: {{ checkAuctionStatus(auction.auction_end_time) | titlecase }} -->
    </p>
    
    <p><strong>Country:</strong> {{ auction.item_country }}</p>
    
    <div *ngIf="auction.creator" class="creator-info">
      <p><strong>Seller:</strong> {{ auction.creator.name }}</p>
    </div>
  </div>
</div>

</div>

<div *ngIf="loading">
  <div class="loading-wave">
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
    <div class="loading-bar"></div>
  </div>
</div>