.comments-section {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f2f5; 
    border-radius: 8px;
}

.comment-item {
    background-color: #ffffff; 
    padding: 12px; 
    margin-bottom: 10px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.comment-item:last-child {
    margin-bottom: 0; 
}

.creator-name {
    font-weight: bold;
    color: #1a1a1a;
}

.comment-content {
    margin-top: 5px;
    color: #333;
    background-color: #e9ecef; 
    padding: 10px; 
    border-radius: 10px; 
    width:25%;
}

.btns {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

button {
    background-color: #e4e6eb;
    border: none;
    border-radius: 5px;
    padding: 6px 10px; 
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s;
    font-size: 14px; 
}

button:hover {
    background-color: #d1d3d4;
}

.comment-form {
    margin-top: 20px;
}

.comment-form textarea {
    width: 100%;
    height: 60px;
    border: 1px solid #e4e6eb;
    border-radius: 20px;
    padding: 10px;
    resize: none;
    font-size: 14px; 
    background-color: rgb(184, 184, 184)#333;

}

.comment-form button {
    background-color: #007bff;
    color: #fff;
    margin-top: 10px;
    border: none; 
    border-radius: 5px; 
    padding: 8px 12px; 
}

.banned-message {
    color: red;
    font-weight: bold;
    margin-top: 10px; 
}
