.comments-section {
    position: absolute;
    right: 170px;
    top: 600px;
    margin-top: 30px;
}

.comments-title {
    font-size: 24px; 
    color: #333; 
    margin-bottom: 20px; 
}

.comments-list {
    list-style-type: none; 
    padding: 0; 
}

.comment-item {
    background-color: #fff; 
    margin-bottom: 15px; 
    padding: 15px; 
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); 
}

.comment-author {
    font-weight: bold; 
    color: #007bff; 
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -50px;
}
.comments-section img {
    border-radius: 50%;
    border: 1px solid;
    margin-right: 5px;
}
.creator-name {
    margin-right: 10px;
}
.comments-section .btns {
    width: 200px;
    margin: auto;
    margin-top: -30px;
    margin-bottom: 20px;
}
.comments-section button {
    font-size: 13px;
    color: var(--dark-color);
    text-decoration: underline;
}
.comment-content {
    color: #555; 
    background-color: #dadada;
    padding: 10px 30px; 
    color: var(--text-color);
    border-radius: 15px;

}

.no-comments {
    text-align: center; 
    color: #888;
    font-size: 16px; 
}

.comment-form {
    margin-top: 20px; 
}

textarea {
    outline: none;
    width: 300px;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: #dadada;
    padding: 10px; 
    color: var(--text-color);
}
form button:hover {
    color: var(--btn-color);
}

/* Media query for responsive design */
@media (max-width: 768px) {
    .comments-section {
        padding: 15px; 
    }

    .comment-form textarea {
        height: 80px; 
    }
}


