<div class="comments-section">
  <div *ngFor="let comment of comments" >
    <div class="content">
      <p class="creator-name"><strong>{{ comment.creator_name }}</strong></p> 
      <p class="comment-content">{{ comment.content }}</p>
    </div>
    <br>
    <div class="btns">
      <button (click)="editComment(comment)">Edit</button>
      <button (click)="deleteComment(comment.comment_id)">Delete</button>
    </div>
  </div>

  <form *ngIf="!isBanned" (ngSubmit)="submitComment()">
    <textarea [(ngModel)]="newComment.comment_text" placeholder="Write a comment ..." name="commentText" required></textarea>
    <button type="submit">{{ editMode ? 'Update' : 'Send' }}</button>
  </form>

  <div *ngIf="isBanned" class="banned-message">
    <p>You are banned from commenting.</p>
  </div>
</div>
