<div class="comments-section">
  <div *ngFor="let comment of comments" class="comment-item">
    <div class="content">
      <p class="creator-name"><strong>{{ comment.creator_name }}</strong></p> 
      <p class="comment-content">{{ comment.content }}</p>
    </div>
    <div class="btns">
      <button class="edit-btn" *ngIf="comment.creator_name === currentUserName" (click)="editComment(comment)">Edit</button>
      <button class="delete-btn" *ngIf="comment.creator_name === currentUserName || isadmin" (click)="deleteComment(comment.comment_id)">Delete</button>
    </div>
  </div>

  <form *ngIf="!isBanned" (ngSubmit)="submitComment()" class="comment-form">
    <textarea [(ngModel)]="newComment.comment_text" placeholder="Write a comment ..." name="commentText" required></textarea>
    <div *ngIf="loading">
      <div class="loading">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <button type="submit">{{ editMode ? 'Update' : 'Send' }}</button>
  </form>

  <div *ngIf="isBanned" class="banned-message">
    <p>You are banned from commenting.</p>
  </div>
</div>
