
h2{
  text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  thead {
    background-color: #266296;
    color: white;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody tr:hover {
    background-color: #ddd;
  }
  
  .pagination {
    text-align: center;
    margin-top: 20px;
  }
  
  .pagination button {
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
  }
  
 
  
  .pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
   .total {
    text-align: center;
    font-size: 18px;
    margin: 10px 15px;
    font-weight: bold;
  }
  