<div class="profile-info" *ngIf="!isEditing">
    <div class="profile-picture">
      <img
        *ngIf="profileImageUrl"
        [src]="profileImageUrl"
        alt="User Image"
      />
      <img
        *ngIf="!profileImageUrl"
        src="assets/images/default-profile.png"
        alt="Default Profile Image"
      />
      <button class="edit-picture-button" (click)="changePicture()">
        <i class="fas fa-edit"></i>
      </button>
      <input type="file" id="profile_picture_input" (change)="onFileSelect($event)" hidden />
    </div>
  
    <div class="user-name">
      <p><strong>{{ user.name }}</strong></p>
    </div>
  
    <div class="user-details">
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Phone Number:</strong> {{ user.phone_number }}</p>
      <p><strong>Address:</strong> {{ user.address }}</p>
      <button class="btn btn-primary" (click)="enableEditing()">Edit Profile</button>
    </div>
  </div>
  