<!-- <p>notifications works!</p> -->
<br>
<br>
<br>
<div class="notification-container">
  <h2>Notifications</h2>
  <div *ngFor="let notification of notifications">
    <div class="notification">
      <h4>{{ notification.data.auction }}</h4>
      <span class="notification-user">{{ notification.data.user }}:</span> 
      <p>{{ notification.data.content }}</p>
      <a [routerLink]="['/auction', notification.data.auction_id]">View Auction</a>
    </div>
  </div>

  

  

  <!-- Pagination Controls -->
  <div class="pagination-controls" *ngIf="totalPages > 1;">
    <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages ">Next</button>

  </div>
</div>
