
<br>
<br>
<br>
<h2 class="auction-title" style="color: #333;;">Auction Listings</h2>
<br>

<div *ngIf="auctions.length > 0; else noAuctions">
  <div class="auction-items">
    <div *ngFor="let auction of auctions" class="auction-item" (click)="goToAuctionDetails(auction.auction_id)" style="cursor: pointer;">
      
      <div *ngIf="auction.item_media && auction.item_media.length > 0">
        <img [src]="'http://localhost:8000/uploads/images/' + auction.item_media[0].path" alt="{{ auction.item_name }}" class="auction-image">
      </div>
      
      <div class="auction-info">
        <p class="item-description">
          <span class="item-name">{{ auction.item_name }}</span>
          <br>
          
          <span class="item-price">{{ auction.starting_bid }} $</span>
        </p>

        <div class="item-location">
          <i class="map fa-solid fa-location-dot"></i>
          <span>{{ auction.item_country }}</span>
        </div>

        <p class="auction-end-date">
          Ends: {{ auction.auction_end_time | date:'short' }}
        </p>

        <div class="bid-btn">
          <button routerLink="/payment-verification">Bid Now</button>
        </div>
      </div>
    </div>
  </div>

  <div class="pagination-controls">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>
</div>

<ng-template #noAuctions>
  <p class="no">No auctions available at this time.</p>
</ng-template>
