/* You can add global styles to this file, and also import other style files */
:root {
    /* Colors */
    --btn-color: #1E3A8A; 
    --primary-color: #45474b; 
    --secondary-color: #585443; 
    --accent-color: #d1a713; 
    --background-color: #F5F5F5; 
    --text-color: #333333; 
    --success-color: #28A745; 
    --warning-color: #E63946;
  
    /* Fonts */
    --primary-font: 'Lato', sans-serif;
    --secondary-font: 'Poppins', sans-serif;
    --fallback-font: 'Open Sans', sans-serif;
  }
  

  body {
    font-family: var(--primary-font);
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--secondary-font);
  }
  
  button, .cta {
    font-family: var(--accent-font);
    background-color: var(--secondary-color);
    color: var(--accent-color); 
    border: none;
    border-radius: 5px;
    padding: 5px 8px;
    cursor: pointer;
    letter-spacing: .3px;
    font-size: 15px;
  }
  
  .success-message {
    color: var(--success-color);
  }
  
  .warning-message {
    color: var(--warning-color);
  }
  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
.container {
    width: 90%;
    margin: auto;
}
.navbar {
    background-color: var(--primary-color);
    height: 300px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.navbar-menu li a {
    color: var(--accent-color);
}
.login-container {
  width: 400px;
  margin: auto;
  padding: 10px 30px 50px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.welcome {
  text-align: center;
  font-size: 20px;
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.error {
  color: var(--warning-color);
  font-size: 12px;
}

.form-control {
  width: 100%;
  padding: 8px;
  margin: 5px 0 15px;
  box-sizing: border-box;
}


input {
  outline: none;

}
/*   
.btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
 */
 .register-container, .login-container {
  width: 450px;
  margin: auto;
  background-color: #fff;
  padding: 40px;
  border-radius: 3px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
 h1 {
  text-align: center;
  margin-top: 50px;
  text-transform: uppercase;
 }

form .forgot {
display: block;
text-align: center;
padding: 10px;
}
.forgot a {
 border-bottom: 1px solid #EBEDF0;
 padding: 10px;
}
.join {
  text-align: center;
  padding-top: 20px;
}
.register-btn, .login-btn {
  padding: 10px 15px;
  background-color: var(--btn-color);
  color: white;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 45px;
}