<footer>
  <div class="container">
    <div class="send-email">
      <h3>Stay connected with <span class="gavel">T</span>opgavel</h3>
      <div class="search-container">       
        <input type="text" placeholder="Email">
        <button type="button">Subscirbe</button>
      </div>
      <h5>Follow Us</h5>
      <div class="social-icons">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-x-twitter"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
      </div>
    </div>
    <div class="footer-content">
      <div class="topgavel">
        <h3><span class="gavel">T</span>OPGAVEL</h3>
        <p>About Us</p>
        <p>Contact Us</p>
        <p>Auction Info</p>
        <p>Customer Reviews</p>
      </div>
      <div class="auction">
        <h3>Auctions</h3>
        <p>Login / New Bidder</p>
        <p>All Auctions</p>
        <p>Closing Soon</p>
        <p>Featured Auctions</p>
        <p>Best Seller</p>
      </div>
      <div class="need-help">
        <h3>Need Help?</h3>
        <p>Faq</p>
        <p>help</p>
        <div><img src="assets/images/apple.webp" alt=""></div>
        <div><img src="assets/images/google.webp" alt=""></div>
      </div>
    </div>
    <p class="copyrights">© 2024 <span class="gavel">T</span>OPGAVEL</p>
  </div>
</footer>
  