footer {
    background-color: var(--dark-color);
    position: absolute;
    margin-bottom: 0px;
    width: 100%;
    color: var(--background-color);
    text-transform: uppercase;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}
.footer-content p {
    font-size: 14px;
    cursor: pointer;
    color: #ebeaea;
}
.footer-content p:hover {
    color: var(--accent-color);
}
.copyrights {
    text-align: center;
}
.gavel {
    color: var(--accent-color);
}
.need-help img {
    width: 150px;
    margin-top: 10px;
    cursor: pointer;
}
.send-email {
    padding-bottom: 20px;
}
.social-icons {
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}
.social-icons i {
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
    transition: color .3s ease;
}
.social-icons i:hover {
    color: var(--accent-color);
}
.social-icons i:first-child {
    margin-left: 0px;
}