<div class="auctions container">
  <h2>Auction Listings</h2>
  <div *ngIf="filteredAuctions.length > 0; else noAuctions">
    <div class="auction-items">
      <div *ngFor="let auction of filteredAuctions" class="auction-item" style="cursor: pointer;">
        <div *ngIf=" auction.approval_status == 'rejected'; else approved">
          <p class="rejected">{{ auction.approval_status}}</p>
        </div>
        <ng-template #approved>
          <p class="approved">{{ auction.approval_status}}</p>
        </ng-template>
        <div *ngIf="auction.item_media && auction.item_media.length > 0"
          (click)="goToAuctionDetails(auction.auction_id)">
          <img [src]="'http://localhost:8000/uploads/images/' + auction.item_media[0].path"
            alt="{{ auction.item_name }}">
        </div>
        <div class="auction-info">
          <p class="item-description">
            <span class="item-name">{{ auction.item_name }}</span>
            <br>
            <span class="item-price">{{ auction.starting_bid | currency }} $</span>
          </p>
          <div class="item-location">
            <i class="map fa-solid fa-location-dot"></i>
            <span>{{ auction.item_country }}</span>
          </div>
          <p class="date">Starts: {{ auction.auction_start_time | date:'short' }}</p>
          <p class="date">Ends: {{ auction.auction_end_time | date:'short' }}</p>

          <button class="Details" (click)="goToAuctionDetails(auction.auction_id)">View Details</button>

          <div class="bid-btn" *ngIf="isAuctionActive(auction)">
            <br>
            <button class="Approve" (click)="updateAuction(auction.auction_id)">Edit</button>
            <button class="Deny" (click)="deleteAuction(auction.auction_id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noAuctions>
    <p style="font-size: 30px; color: black; text-align: center;">No auctions available at this time.</p>
  </ng-template>
</div>