/* Opening Auction Styles */
.auctions {
  width: 100%;
  margin: auto;
}
.auctions h2 {
  font-size: 2rem;
  text-align: center;
  color: var(--dark-color);
  margin-bottom: 40px;
}

.auction-item:hover {
  transform: scale(1.02);
}

.auction-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 10px; 
}

.category-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #555;
}

.item-description {
  margin: 10px 0;
}

.item-name {
  font-size: 1.5rem;
  color: #333;
  font-weight: bold;
}

.item-price {
  font-size: 1.2rem;
  color: var(--btn-color);
  font-weight: bold;
  margin-top: 20px;
  display: block;
}

.item-location {
  margin: 10px 0;
  font-size: 1rem;
  color: #777;
}

.auctions .map {
  color: var(--accent-color);
  margin-right: 10px;
}

.date {
  font-size: 0.9rem;
  color: #6c757d;
}

.bid-btn button:hover {
  background-color: white;
}
.bid-btn .Approve:hover{
  border: 1px solid green;
  color: green;
}
.bid-btn .Deny:hover{
  border: 1px solid red;
  color: red;
}

/* ////////////////////////////////// */
.auction-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.auction-item {
  display: flex;
  flex-direction: column;
  width: 30%; 
  height: auto;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 550px; 
  background-color: #f9f9f9;
  transition: transform 0.3s ease;
}

.auction-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
  justify-content: space-between;
}

.bid-btn {
  display: flex;
  gap: 5px;
  text-align: center;
}

.bid-btn button {
  width: 50%;
  border-radius: 10px;
  padding: 10px 20px;
  border: none;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.bid-btn .Approve{
  background-color: green;
}

.bid-btn .Deny{
  background-color: red;
}

.item-description, .item-location, .auction-end-date, .auction-status {
  margin-bottom: 5px;
}

.rejected,
.approved{
  margin: 0;
  margin-bottom: 5px;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  width: fit-content;
  font-weight: 900;
}

.rejected{
  border-radius: 10px 0 10px 0;
  background-color:rgb(235, 186, 186);
  color: rgb(240, 0, 0);
}
.approved{
  border-radius: 10px 0 10px 0;
  color: green;
}

.Details{
  background-color: #266296;
  color: white;
  display: block;

}

button{
  height: 50px;
}