<div class="dashboard-container" style="padding-top: 80px;">
    <aside class="sidebar">
        <h3>Admin Dashboard</h3>
        <ul>
            <li><a href="#">Auctions</a></li>
            <li><a href="#">Users</a></li>            
        </ul>
    </aside>

    <main class="main-content">
        <div class="card-container">
            <a class="card" href="/pendingAuctions">
                <h3>Pending Auctions</h3>
                <p class="counter">{{Pauctions.length}}</p>
            </a>
            <div class="card" (click)="goToAuctions()">
                <h3>Active Auctions</h3>
                <p class="counter">{{Aauctions.length}}</p>
            </div>
            <a  href="/finished-auctions" class="card">
                <h3>Finished Auctions</h3>
                <p class="counter">{{Fauctions.length}}</p>
            </a>
            <a class="card" href="/deletedAuctions">
                <h3>Deleted Auctions</h3>
                <p class="counter">{{Dauctions.length}}</p>
            </a>
        </div>
    </main>
</div>